*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
}
 



.start_bootstrap,
.about{
background-color:rgb(7, 165, 133);
}
.content_main{
   width: 100%;
   
}

.color_{
    background-color: rgb(0, 0, 77);
}

.info{
    background-color: rgb(76, 76, 189);
}
.copyright{
    background-color: rgb(43, 43, 139);
}

/* HEADER */

h3{
    font-weight: bolder; 
    vertical-align: middle;
}

.color_{
    background-color: rgb(0, 0, 77);
    color: white;
    border: none;
    font-weight: bold;
    font-size: small;
}

/* MAIN */

#avatar_img{
    width: 300px; 
    margin: 0 auto;
}
 h1{
    font-size: 40px;
    font-weight: bold;
 }
 
 .white_ span {
    margin-top:20px;
    display:flex;
    padding: 0 100px; 
  }

  span:before, span:after {
    color:white;
    content:'';
    flex:1;
    border-bottom:groove 2px; 
    margin: auto 0.25rem;
    box-shadow: 0 -2px ;

  }

  .white_ span,
 .black_ span{
    font-size: 30px; 
  }

  .start_bootstrap h3{
    font-weight:normal ;
    font-size: medium;
    margin-bottom: 30px;
  }

  .content_start{
    width: 400px; 
    margin: 0 auto;
  }

  .black_ span::before , .black_ span::after{
    color: black;
    border-bottom: groove 1px ;
  }

  .black_ .headline_,
  h2{
    color: black; 
  }

  .black_ span {
    margin-top:20px;
    display:flex;
    padding: 0 50px;
    color: black;
    
  }

  .stella{
    width: 400px;
    margin: 0 auto;
  }

  .about h2{
    color: white;
  }

  .border_{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;

  }

 
  .pad_5{
    width: 30px;
    height: 30px;
    display: inline-block;
      
  }
  a{
    color: aquamarine;
  }